.dash-interview-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5% 15%;

    .interview-card {
        box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
        padding: 2% 5%;
        border-radius: 10px;
        margin: 1% 3% 1% 0;
        background: linear-gradient(to right, #bdc3c7, #2c3e50);
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: all 300ms linear;

        &:hover {
            transform: translateY(-10%);
        }
    }
}

.interview-header {
    margin: 5% 0;
}