@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$lato: 'Lato', sans-serif;

.detailed-question {
    font-family: $lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 5%;
}

.border-bottom {
    border-bottom: 2px solid black;
    height: 2px;
    width: 100%;
}

.interview-score {
    color: green;
    font-weight: bold;
}

.interview-type {
    text-transform: capitalize;
    color: orange;
    font-weight: bold;
}

.interview-nav {
    display: flex;

    a {
        margin: 2% 3% 2% 5%;
        transition: all 300ms linear;

        &:hover {
            transform: translateY(-10%);
        }
    }
}

.interaction-buttons {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
        margin: 0 5%;
    }
}

.delete-interaction {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;

    input {
        padding: 1% 3%;
    }
}