.password-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;

    input {
        height: 35px;
        width: 300px;
        border-radius: 5px;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.password-container {
    background: lighten(#8894db, 15%);
    height: 100vh;
    display: flex;
    justify-content: center;

    h1 {
        color: white;
    }
}

.password-intro {
    flex: 0.65;
    margin: 8% 0;
    border-right: 2px solid #8894db;

    div {
        text-align: center;
        font-family: $lato;

        p {
            margin: 3% 0 0 0;
            color: white;
            font-weight: bold;
        }
    }
}

.password-entry {
    margin: 8% 3%;
}