@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$lato: 'Lato', sans-serif;

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    margin: 2% 25%;
    width: 50%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    padding: 5% 0;
    border-radius: 10px;
    font-family: $lato;

    select, textarea {
        font-family: $lato;
    }
}

.saved-btn, .update-btn, .add-btn, .completed-btn, .create-interview-btn, .password-btn {
    background: none;
    border: none;
    padding: 2% 5%;
    color: white;
    border-radius: 5px;
    transition: all 300ms linear;
    cursor: pointer;
    font-family: $lato;

    &:hover {
        transform: translateY(-10%);
        box-shadow: 6px 6px 10px rgba(0,0,0,0.25);
    }

    &:focus {
        outline: none;
    }
}

.saved-btn {background: linear-gradient(to right, #11998e, #38ef7d);};
.update-btn {background: linear-gradient(to right, #f12711, #f5af19);};
.password-btn{
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    padding: 1% 3%;
}
.add-btn {
    background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
    padding: 1% 3%;
    margin: 3% 0;
};
.completed-btn {
    background: linear-gradient(to right, #f12711, #f5af19);
    padding: 1% 3%;
    margin: 3% 0;
}

.create-interview-btn {
    background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
    text-decoration: none;
    padding: 1% 3%;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.errorMsg {
    color: red;
}

